@media screen and (max-width: 992px) {
  aside {
    width: 150px;
  }

  nav {
    width: calc(100% - 150px);
    left: 150px;

  }

  main {
    left: 150px;

  }

  aside .logo {
    width: 150px;
  }

  aside .as-uno {
      width: 150px;
  }

  aside .ms--aside-bottom {
      width: 150px;
  }

  aside .aside-border {
      width: 107px;
  }

  aside .aside-border .fa-arrow-down {
      color: white;
  }

  .logo img {
    width: 125px;
    height: 40px;
  }

  .home {
    width: 150px;
  }

  .card {
      margin: 2px;
  }

  #extra {
      display: none;
  }

  .music-due {
      width: 30%;
  }

 .music-uno i {
    font-size: 12px;

 }

 .music-uno img {
     width: 50px;
     height: 50px;
 }

 .music-uno strong,small {
     font-size: 9px;
 }

 .music-tre i {
     font-size: 10px;
 }

 .bar-music {
     width: 100px;
 }

}

@media screen and (max-width: 768px) {
    aside {

    }

    .main--uno {
        height: 100px;
    }

    .main--uno ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    #extra {
        display: block;
    }

    .container-card {
    justify-content: flex-start;
    }

    .card {
        width: 190px;
        height: 290px;
        padding-bottom: 10px;
    }

    .img-main-due {
        width: 190px;
        height: 240px;
    }

    .img-main-due img {
        width: 190px;
        height: 240px;
    }



}
@media screen and (max-width: 576px) {

    .container-card {
    justify-content: flex-start;
    }

    aside {
        width: 50px;
    }

    nav {
        width: calc(100% - 50px);
        left: 50px;
        height: 50px;
    }

    main {
        top: 50px;
        left: 50px;
    }

    aside .logo {
        width: 50px;
    }

    aside .as-uno {
        width: 50px;
    }

    aside .ms--aside-bottom {
        width: 50px;
    }

    #xsno {
        display: none;
      }

    aside .aside-border {
        width: 0;
    }

    .home {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .plus-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .plus-icon .fa-plus-square{
        margin-left: 0px;
    }

    .plus-icon a {
        margin-left: 0;
    }

    .home ul li {
        font-size: 25px;
        margin: 0;
    }

    .aside-border-due {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 2px;

    }

    .aside-border-due .fas {
        margin-left: 5px;
    }

    .card .img-main-due img {
        width: 400px;
    }

    #logospotify {
        width: 40px;
        height: 40px;
        margin-left: 0;
    }

    #scrittaspotify {
        display: none;
    }

    .home {
        margin-top: 0;
    }

    .as-uno .logo {
        height: 50px;
    }

    .home ul li a i:hover {
        transform: scale(1.2);
    }

    .playlist .plus-icon a i:hover {
        transform: scale(1.2);
    }

    .playlist ul li a i:hover {
        transform: scale(1.2);
    }

    .card {
        width: 190px;
        height: 290px;
        padding-bottom: 10px;
    }

    .img-main-due {
        width: 190px;
        height: 240px;
    }

    .img-main-due img {
        width: 190px;
        height: 240px;
    }


}
