* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: sans-serif;
}

aside {
    width: 200px;
    height: calc(100% - 70px);
    float: left;
    position: fixed;
    left: 0;
    top: 0;
    background-color: black;
}

nav {
    width: calc(100% - 200px);
    height: 70px;
    float: left;
    position: fixed;
    top: 0;
    left: 200px;
    background-color: black;
}

main {
    height: calc(100vh - 70px);
    overflow-y: auto;
    float: left;
    padding-left: 200px;
    padding-top: 70px;
}

.music {
    width: 100vw;
    height: 70px;
    float: left;
    position: fixed;
    bottom: 0;
    background-color: #4a4a4a;
}

.text-white{
    color: white;
}

.text-gray{
    color: #999da8;
}

/* NB ASIDE */

aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.as-uno {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.as-due {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

aside .logo {
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    border: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
}

.logo img {
    width: 160px;
    height: 50px;
}

.home ul {
    list-style: none;
}

.home ul li {
    margin-left: 20px;
}

.home ul li a {
    color: #999da8;

}

.home ul li a:hover {
    color: white;
    font-weight: bold;
}

.home ul li a {
    color: violet;
    text-decoration:none;
}

.playlist strong {
    margin-left: 20px;
}

.playlist ul {
    list-style: none;
}

.playlist ul li {
    margin-left: 20px;
}

.playlist ul li a {

    text-decoration:none;
}

.plus-icon a {
    margin-left: 20px;
    text-decoration:none;
}

.ms--aside-bottom {
    width: 200px;
}

.aside-border {
    width: 160px;
    margin-left: 20px;
    border-bottom: 2px solid #4a4a4a;
}

.aside-border a {
    text-decoration:none;
}

.aside-border-due a {
    margin-left: 20px;
    text-decoration:none;
}

#aaa {
    align-self: flex-end;
}

/*  NB NAV */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav button {
    width: 15%;
    height: 50%;
    border-radius: 10px;
    margin-right: 20PX;
    border: 2px solid white;
    color: white;
    background-color: rgba(255, 0, 0, 0.0);
}

nav button:hover {
    border: 3px solid white;
    cursor: pointer;
}
